@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(116, 192, 255);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
body{
    background-image:url('pic-8.jpg') ;
    background-repeat: no-repeat;
    /* background-position: left bottom; */
    background-size: cover;
    width: 100vw;
    /* background-color: blue; */
}


/* nav css */
.nav{
    border-bottom: 3px solid rgb(116, 192, 255);
}
.nav-item{
    margin-right: 5px;
    color: rgb(116, 192, 255);
    border-radius: 3px;
    cursor: pointer;
    border-bottom: 4px solid rgb(116, 192, 255);
    transition: 0.5s ease;
    text-align: center;
    background-color: #0275d8;
}
.nav-item:hover{
    border-bottom: 4px solid white;
    color: white;
}
.event-log{
    margin-right: 20px;
}


 /* timer css */
.timer{
    top:10px;
    right: 5px;
}
.time{
    position: relative;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px  rgba(0, 0, 0, 0.218);
}
.time:last-child{
    margin-right: 0;
    background-color: #a3a9c0;
}
.time::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.218);
}
.time > h2{
    font-weight:bold ;
}
.time p{
    color: gray;
}

.student-table{
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-20%);
    
}
.place{
    width: 34%;
    margin: 0 2px 2px 0;
    text-align: center;
    background-color: rgb(100, 139, 255);
    bottom: -180px;
    height: 100px;
    border-radius: 3px;
    font-weight: bolder;
    color: rgb(218, 233, 255);
}
.place:last-child{
    margin-right: 0;
}
.place > h6{
    font-size: 13px;
}

.record{
    align-items: center;
    justify-content: space-around;
    width: 400px;
    background-color: rgb(100, 139, 255) ;
    margin: 5px 0 5px 0;
    color:  rgb(218, 233, 255);
}
.table-content{
    overflow-x:hidden;
}
.table{
   /* overflow-y: scroll; */
}
.footer-item{
    background-color: rgb(44, 97, 255) ;
}
.footer-item > div{
    margin: 5px 0;
    padding: 0 40px;
   border-left: 4px solid rgb(44, 44, 248);
}
.footer-item >div:last-child{
    padding: 0;
    border-left:none;
}
.footer-item >div:first-child{
    border-left:none;
}

.instruction-pop{
    background-color: rgba(0, 0, 0, 0.633);
    width: 100vw;
    height: 100vh;
    top: 0;
    display: none;
}


.instruction-box{
    position: relative;
    text-align: center;
    width: 80vw;
    height: 90vh;
    /* background: linear-gradient(rgb(180, 199, 255) ,rgb(100, 139, 255) ); */
    background-image: url('pic-3.png');
    background-size: 400px ;
    background-repeat: no-repeat;
    background-color: white;
    background-position: right bottom;
    border-bottom: 3px solid blue;
    border-radius: 3px;
    box-shadow: 8px 6px;
}

.price-pop{
    background-color: rgba(0, 0, 0, 0.633);
    width: 100vw;
    height: 100vh;
    top: 0;
    display: none;
}

.price-box{
    position: relative;
    text-align: center;
    width: 80vw;
    height: 90vh;
    /* background: linear-gradient(rgb(180, 199, 255) ,rgb(100, 139, 255) ); */
    background-image: url('pic-3.png');
    background-size: 400px ;
    background-repeat: no-repeat;
    background-color: white;
    background-position: right bottom;
    border-bottom: 3px solid blue;
    border-radius: 3px;
    box-shadow: 8px 6px;
}

.instruction-box-active{
 display: block;
}

.price-pop-active{
    display: block; 
}